.body{
    margin: 1rem;
    background: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.nav-link{
    transition-property: background-color;
}
.nav-link:hover{
    background-color: black;
}
.usercard{
    /* display: flex; */
    margin-left: -5rem;
    /* width: 16rem; */
padding: 2rem;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
height: 33rem;
background: white;

/* margin: 1.4rem;
height: 20rem; */
    
}
.card-img-top {
     /* display: flex;  */
    /* justify-content: center; */ 
    
    align-self: center;
    margin: 2rem;
    padding-left: 1rem;
    width: 50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin-top: -1rem;
  }
   .card-title{
    text-align: center;
  } 
  .designation{
    text-align: center;
  }
  .row{
    display: flex;
  }
  .socialmedia{
    display: flex;
    flex-direction: row;
  }
  #sc{
    height: 1.3rem;
    width: 38px;
    margin-left: 1.3rem;
    margin-top: 0.7rem;
  }
    
  
  #twitter{
    width: 52px;
    margin-left: -2rem;
    /* height:1.5rem; */
  }
  .media-body{
    margin-left: 8px;
  }
  .media {
margin-top: 3px;
  }
  .container{
    margin-top: 1rem;
    background: #f7f7f7;
  }
  .card {
    position: relative;
    /* display: -ms-flexbox; */
    display: flex;
    /* justify-content: baseline; */
    /* -ms-flex-direction: column;
    flex-direction: column; */
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    /* max-width: max-content; */
    /* width: 62rem; */
  }
  h4{
    margin-bottom: -0.5rem;
  }